body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



/* --- HEADER --- */
.nav-menu {
  background: black;
  text-align: right;
}

.nav-menu a {
  color: #1a992f;
}

.nav-menu li a:hover, .nav-menu li a:focus {
  background: none;
  border: none;
  color: #3ce658;
}

.pure-menu-heading {
  float: left;
}



/* --- MAIN --- */
#main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#my-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
}

#first-name {
  font-weight: 600;
}

#last-name {
  font-weight: 300;
}



/* --- FOOTER --- */
footer {
  display: flex;
  height: 60px;
  background-color: black;
  color: grey;
  font-family: 'Hind';
  font-weight: 300;
}

#footer-left {
  min-width: 200px;
}

#footer-middle {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 200px;
}

/* TODO: Can I remove this and keep the icons square? */
.social-link {
  max-height: 30px;
}

.social-icon {
  max-height: 30px;
  opacity: 0.5;
}

.social-icon:hover, .social-icon:focus {
  opacity: 0.8;
}



/* --- Screens < 650px --- */
@media (max-width:650px) {
  footer {
    flex-direction: column-reverse;
    height: 120px;
  }

  #footer-left {
    display: none;
  }

  #footer-right {
    flex-grow: 2;
  }
}