// --- CONTAINER ---
@mixin display-flex {
  display: flex;
  display: -webkit-flex;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin flex-wrap($style) {
  flex-wrap: $style;
  -webkit-flex-wrap: $style;
}

@mixin justify-content($alignment) {
  justify-content: $alignment;
  -webkit-justify-content: $alignment;
}

@mixin align-items($alignment) {
  align-items: $alignment;
  -webkit-align-items: $alignment;
}



// --- ITEMS ---
@mixin flex-grow($n) {
  flex-grow: $n;
  -webkit-flex-grow: $n;
}

@mixin flex-basis($val) {
  flex-basis: $val;
  -webkit-flex-basis: $val;
}



// Simple Properties
@mixin flex-center-children {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
}
