// --- SITE-WIDE CONSTANTS ---

$mobile-nav-bar-height: 60px;
$nav-bar-height: 44px;
$nav-color-bar-width: 4px;

$content-width: 960px;
$content-padding: 15px;
$my-padding: 12px;
$text-color-dark: #202020;

// mobile
$mobile-width-cutoff: 600px;

// color palette
$primary-color-dark: #263238;
$primary-color-med: #455a64;
$primary-color-light: #78909c;
$accent-color-med: #f57c00;
$accent-color-dark: #ef6c00;
$grey-light: #fafafa;
$off-black: #212121;
$off-white: #F5F5F5;