// --- SITE-WIDE CONSTANTS ---

$content-width: 960px;
$content-padding: 15px;
$my-margin: 12px;
$text-color-dark: #202020;

// color palette
$primary-color-dark: #263238;
$primary-color-med: #455a64;
$primary-color-light: #78909c;
$accent-color-med: #f4511e;
$grey-light: #fafafa;