@import 'constants';
@import 'flexbox';


.gallery-container {
    @include display-flex;
    margin-bottom: 60px;
}

.gallery-name {
    width: 60px;
    color: #BDBDBD;
    font-family: 'Architects Daughter';
    font-size: 40px;

    .rot {
        direction: rtl;
        transform: rotate(-90deg) translateY(-100%);
        transform-origin: top right;
        padding: 0 5px 10px $my-padding;
        transition: all 0.5s ease-in-out;
    }
}

.gallery-content {
    @include flex-grow(1);
}

// --- Screens < 600px ---
@media (max-width:600px) {
    .gallery-container {
        @include flex-direction(column);
        margin-bottom: 60px;
        margin-top: 30px;
    }

    .gallery-name {
        width: auto;
        .rot {
            direction: ltr;
            transform: none;
        }
    }
}