@import 'constants';


.gallery-container {
    display: flex;
    margin-bottom: 50px;
}

.gallery-name {
    color: #757575;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    padding: 0 10px;
}

.gallery-content {
    flex-grow: 1;
}

.gallery-seperator {
    border-width: 10px;
    border-color: green;
    margin: 0;
    display: none;
}

// --- Screens < 600px ---
@media (max-width:600px) {
    .gallery-container {
        flex-direction: column;
    }
}