/* --- MAIN --- */
#main {
  text-align: center;
}

#my-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  margin-top: 25vh;
}

#first-name {
  font-weight: 600;
  color: #282828;
}

#last-name {
  font-weight: 300;
  color: #484848;
}

@media (max-width:600px) {
  #my-name {
    font-size: 60px;
  }
}