@import 'constants';
@import 'flexbox';


#main {
  @include display-flex;
  @include justify-content(center);
}

#content {
  color: $text-color-dark;
  margin: 0 $my-margin;
  max-width: $content-width;
}

.text-block {
  margin: 40px 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin: 60px 0 30px;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#course-list {
  list-style: none;
  padding: 0;
  margin: 0 (-$my-margin/2);
  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.course {
  background-color: black;
  flex-basis: 200px; -webkit-flex-basis: 200px;
  flex-grow: 1; -webkit-flex-grow: 1;
  margin: 5px;
  position: relative;
}

.course:hover > .course-bg-img, .course:focus > .course-bg-img{
  display: none;
}

.course-bg-img {
  opacity: .4;
  display: block;
  width: 100%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.course-cert-img {
  display: none;
  width: 100%;
}
.course:hover > .course-cert-img, .course:focus > .course-cert-img{
  display: block;
}

.course-name {
  height: 70%;
  width: 100%;
  position: absolute;
  top: 0;

  // TODO: change font size dynamically
  // TODO: change text postion dynamically
  // TODO: fix text padding
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px black;
  margin-top: 24px;
}
.course:hover > .course-name, .course:focus > .course-name{
  display: none;
}

.course-links {
  max-height: 50px;
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: black;
  opacity: .6;
  display: flex; display: -webkit-flex;
  visibility: hidden;
}
.course:hover > .course-links, .course:focus > .course-links{
  visibility: visible;
}

.course-weblink {
  height: 100%;
  width: 50%;
  @include flex-center-children;
}

.course-weblink-left {
  border-right: 1px solid #fff;
}

.course-info-icon {
  height: 75%;
}

hr {
  border-color: $text-color-dark;
  border-width: 2px;
  margin: (3*$my-margin) 0;
}

// --- Screens < 600px ---
@media (max-width:600px) {
  #content {
    margin: 0;
  }

  .text-block {
    padding: 0 10px;
  }

  #course-list {
    margin: 20px 0;
    //@include flex-direction(column);
  }

  .course {
    margin: 10px 0;
    @include flex-basis(100%);
  }

  .course-bg-img {
    -webkit-filter: none;
    filter: none;
    opacity: .8;
  }

  .course-links {
    visibility: visible;
  }

  hr {
    display: none;
  }
}
