@import 'constants';
@import 'flexbox';


#main {
  @include display-flex;
  @include justify-content(center);
}

#content {
  color: $text-color-dark;
  margin: 0 $my-margin;
  max-width: $content-width;
}

.text-block {
  margin: 40px 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin: 60px 0 30px;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#course-list {
  list-style: none;
  margin: 0 -1px;
  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.course {
  background-color: black;
  @include flex-basis(200px);
  @include flex-grow(1);
  margin: 1px;
  position: relative;
}

.course:hover > .course-bg-img, .course:focus > .course-bg-img{
  display: none;
}

.course-bg-img {
  opacity: .4;
  display: block;
  width: 100%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.course-cert-img {
  display: none;
  width: 100%;
}
.course:hover > .course-cert-img, .course:focus > .course-cert-img{
  display: block;
}

.course-name {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  @include flex-center-children;
}
.course:hover > .course-name, .course:focus > .course-name{
  display: none;
}

// TODO: change font size dynamically
.course-name-text {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding: 0 $my-margin;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  line-height: 125%;
}

.course-links {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  @include display-flex;
  visibility: hidden;
}
.course:hover > .course-links, .course:focus > .course-links{
  visibility: visible;
}

.divider-space {
  min-width: 1px;
}

.course-weblink {
  @include flex-grow(1);
  background-color: black;
  opacity: .6;
  @include flex-center-children;
}

.course-info-icon {
  height: 30px;
}

hr {
  border-color: $text-color-dark;
  border-width: 2px;
  margin: (3*$my-margin) 0;
}

// --- Screens < 600px ---
@media (max-width:600px) {
  #content {
    margin: 0;
  }

  .text-block {
    padding: 0 10px;
  }

  #course-list {
    margin: 20px 0;
  }

  .course {
    margin: 10px 0;
    @include flex-basis(100%);
  }

  .course-bg-img {
    -webkit-filter: none;
    filter: none;
    opacity: .8;
  }

  .course-links {
    visibility: visible;
  }

  hr {
    display: none;
  }
}
