#main {
  display: flex; display: -webkit-flex;
  justify-content: center; -webkit-justify-content: center;
}

#content {
  flex-grow: 1;
  max-width: 80%;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#cl {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.course {
  position: relative;
  background-color: black;
  flex-basis: 300px;
  flex-grow: 1;
}

.course:hover > .course-bg-img{
  display: none;
}

.course-bg-img {
  width: 100%;
  opacity: 0.4;
  display: block;
}

.course-cert-img {
  width: 100%;
  display: none;
}
.course:hover > .course-cert-img{
  display: block;
}

.course-name {
  height: 70%;
  width: 100%;
  position: absolute;
  top: 0;

  /* TODO: change font size dynamically */
  /* TODO: change text postion dynamically */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px black;
  margin-top: 24px;
}
.course:hover > .course-name{
  display: none;
}

.course-links {
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: black;
  opacity: 0.6;
  display: none;
}
.course:hover > .course-links{
  display: flex;
}

.course-weblink {
  width: 50%;
  height: 100%;
  display: flex; display: -webkit-flex;
  justify-content: center; -webkit-justify-content: center;
  align-items: center; -webkit-align-items: center;
}
.course:hover > .course-weblink{
  display: flex; display: -webkit-flex;
}

.course-info-icon {
  height: 60%;
}

/* --- Screens < 600px --- */
@media (max-width:600px) {
  #content {
    max-width: 100%;
    background-color: light red;
  }

  .course-bg-img {
    opacity: .8;
  }

  .course-links{
    display: flex;
  }
}

/* TODO resize course images to proper aspect ratio
-fix safari and mobile
- make certs images have border on their own
*/