@import 'constants';
@import 'flexbox';


body {
  @include display-flex;
  @include flex-direction(column);
  margin: 0;
  min-height: 100vh;
}

#tile-bg {
  background-image: url('../images/bg_square.png');  // Background pattern from subtlepatterns.com
}

// --- HEADER ---
.nav-header {
  @include display-flex;
  @include justify-content(center);
  background-color: $grey-light;
  text-align: center;
}

.nav-header-middle {
  @include flex-grow(1);
  @include display-flex;
  @include justify-content(space-around);
  @include align-items(stretch);
  @include flex-wrap(wrap);
  max-width: $content-width;
}

%nav-link {
  height: 44px;
  @include flex-basis(150px);
  @include flex-grow(1);
  @include flex-center-children;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.nav-link-other {
  @extend %nav-link;
  color: $primary-color-med;
  
  &:hover, &:focus {
    color: $grey-light;
    background-color: $accent-color-med;
  }
}

.nav-link-current  {
  @extend %nav-link;
  color: $accent-color;

  .nav-link-color-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: $accent-color-med;
  }
}



// --- MAIN ---
#main {
  @include flex-grow(1);
  @include display-flex;
  @include justify-content(center);
}

// TODO: maybe merge this with #content later
#page-content {
  width: $content-width;
  padding: 0 $content-padding;
  position: relative;
}

#content {
  color: $text-color-dark;
  margin: 0 $my-margin;
  max-width: $content-width;
}



// --- FOOTER ---
footer {
  @include display-flex;
  background-color: black;
  color: grey;
  font-family: 'Hind';
  font-weight: 300;
  height: 60px;
}

#footer-left {
  min-width: 200px;
}

#footer-middle {
  @include flex-grow(1);
  @include flex-center-children;
}

#footer-right {
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);
  margin: 0 15px;
  min-width: 120px;
}

.social-icon {
  display: block;
  max-height: 30px;
  opacity: .5;
  transition: opacity ease-in-out .2s;

  &:hover, &:focus {
    opacity: .8;
  }
}



// --- Screens < 600px ---
@media (max-width:600px) {
  .nav-link-color-bar {
    display: none;
  }

  footer {
    @include flex-direction(column-reverse);
    height: 120px;
  }

  #footer-left {
    display: none;
  }

  #footer-right {
    @include flex-grow(2);
    @include justify-content(space-around);
    margin: 0;
  }
}