@import 'constants';
@import 'flexbox';
@import 'utils';


body {
  @include display-flex;
  @include flex-direction(column);
  margin: 0;
  min-height: 100vh;
}

#tile-bg {
  background-image: url('../images/bg_square.png');  // Background pattern from subtlepatterns.com
}

// --- HEADER ---
%nav-header {
  @include display-flex;
  @include justify-content(center);
  text-align: center;
}

.nav-header-light {
  @extend %nav-header;
  background-color: $grey-light;
}

.nav-header-dark {
  @extend %nav-header;
  background-color: $primary-color-med;
}

.nav-header-middle {
  @include flex-grow(1);
  @include display-flex;
  @include justify-content(space-around);
  @include align-items(stretch);
  @include flex-wrap(wrap);
  max-width: $content-width;
}

%nav-link {
  height: 44px;
  @include flex-basis(150px);
  @include flex-grow(1);
  @include flex-center-children;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;

  &:hover, &:focus {
    background-color: $accent-color-med;
  }

  .nav-link-color-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: $accent-color-med;
  }
}

.nav-link-light {
  @extend %nav-link;
  color: $primary-color-med;

  &:hover, &:focus {
    color: $grey-light;
  }
}

.nav-link-dark {
  @extend %nav-link;
  color: white;
}



// --- MAIN ---
#main {
  @include flex-grow(1);
  @include display-flex;
  @include justify-content(center);
}

#gallery {
  @include flex-grow(1);
  background-color: black;
  padding-bottom: 100px;
}

// TODO: maybe merge this with #content later
#page-content {
  width: $content-width;
  padding: 0 $content-padding;
  position: relative;
}

#content {
  color: $text-color-dark;
  padding: 0 $my-padding;
  width: $content-width - 2*$my-padding; // Since it has padding on each size
}



// --- FOOTER ---
%footer-base {
  @include display-flex;
  color: grey;
  font-family: 'Hind';
  font-weight: 300;
  height: 60px;
}

#footer-dark {
  @extend %footer-base;
  background-color: $off-black;
}

#footer-light {
  @extend %footer-base;
  background-color: $off-white;
}

#footer-left {
  min-width: 200px;
}

#footer-middle {
  @include flex-grow(1);
  @include flex-center-children;
}

#footer-right {
  @include display-flex;
  @include justify-content(space-between);
  @include align-items(center);
  margin: 0 15px;
  min-width: 120px;
}

.social-icon {
  display: block;
  max-height: 30px;
  opacity: .5;
  transition: opacity ease-in-out .2s;

  &:hover, &:focus {
    opacity: .8;
  }
}

.social-icon-black {
  @extend .social-icon;
  @include filter(invert(100%));
}


// --- Screens < 600px ---
@media (max-width:600px) {
  .nav-link-color-bar {
    display: none;
  }

  %footer-base {
    @include flex-direction(column-reverse);
    height: 120px;
  }

  #footer-left {
    display: none;
  }

  #footer-right {
    @include flex-grow(2);
    @include justify-content(space-around);
    margin: 0;
  }
}