body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

#tile-bg {
  background-image: url("../images/bg/seigaiha.png");
}

#wood-bg {
  background-image: url("../images/bg_wood.png");
}

#mobile-header {
  height: 60px;
  display: none;
}

.light-theme {
  background-color: #fafafa;
}

.dark-theme {
  background-color: #455a64;
}

#menu-icon {
  height: 30px;
  width: 30px;
  padding: 15px;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.nav-header-light, .nav-header-dark {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  text-align: center;
}

.nav-header-light {
  background-color: #fafafa;
}

.nav-header-dark {
  background-color: #455a64;
}

.nav-header-middle {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: stretch;
  -webkit-align-items: stretch;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  max-width: 960px;
}

.nav-link-light, .nav-link-dark {
  height: 44px;
  flex-basis: 140px;
  -webkit-flex-basis: 140px;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

.nav-link-light:hover, .nav-link-dark:hover, .nav-link-light:focus, .nav-link-dark:focus {
  background-color: #f57c00;
}

.nav-link-light .nav-link-color-bar, .nav-link-dark .nav-link-color-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: #f57c00;
}

.nav-link-light {
  color: #455a64;
}

.nav-link-light:hover, .nav-link-light:focus {
  color: #fafafa;
}

.nav-link-dark {
  color: white;
}

.nav-link-current {
  height: 36px;
  border-top: 4px solid #f57c00;
  padding-bottom: 4px;
}

#main {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}

#gallery {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  background-color: black;
  padding-bottom: 100px;
}

#page-content {
  width: 960px;
  padding: 0 15px;
  position: relative;
}

#content {
  color: #202020;
  padding: 0 12px;
  width: 936px;
}

#footer-dark, #footer-light {
  display: flex;
  display: -webkit-flex;
  color: grey;
  font-family: 'Hind';
  font-weight: 300;
  height: 60px;
}

#footer-dark {
  background-color: #212121;
}

#footer-light {
  background-color: #F5F5F5;
}

#footer-left {
  min-width: 200px;
}

#footer-middle {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

#footer-right {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  margin: 0 15px;
  min-width: 120px;
}

.social-icon, .social-icon-black {
  display: block;
  max-height: 30px;
  opacity: .5;
  transition: opacity ease-in-out .2s;
}

.social-icon:hover, .social-icon-black:hover, .social-icon:focus, .social-icon-black:focus {
  opacity: .8;
}

.social-icon-black {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

@media (max-width: 600px) {
  #mobile-header {
    display: block;
  }
  #nav-menu {
    display: none;
  }
  .nav-link-color-bar {
    display: none;
  }
  .nav-header-middle {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .nav-link-light, .nav-link-dark {
    flex-basis: auto;
    -webkit-flex-basis: auto;
    box-shadow: 0 -1px 0 #263238;
  }
  .nav-link-current {
    height: 44px;
    border-top-style: none;
    padding-bottom: 0;
    border-left: 4px solid #f57c00;
    padding-right: 4px;
  }
  #footer-dark, #footer-light {
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    height: 120px;
  }
  #footer-left {
    display: none;
  }
  #footer-right {
    flex-grow: 2;
    -webkit-flex-grow: 2;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    margin: 0;
  }
}

/*# sourceMappingURL=maps/nav.css.map */
