@import 'constants';
@import 'flexbox';

$left-section-width: 180px;

html, body {
  overflow-x: hidden;
}

#postit {
  position: absolute;
  height: 200px;
  width: 250px;
  right: -450px;
  top: 100px;
  padding: 25px;

  transform: rotate(7deg);
  box-shadow: 2px 4px 5px -3px rgba(0,0,0,0.5);
  border-bottom-right-radius: 90px 15px;
  background: linear-gradient(to bottom right, #ffff88 60%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  border-top:50px solid #fdfd86;

  font-family: 'Architects Daughter';
  font-size: 36px;
  text-align: center;
}

#content {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  color: rgba(0, 0, 0, .87);
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

section {
  margin-bottom: 80px;
}

.section-header {
  @include display-flex;
  @include align-items(flex-end);
  margin-bottom: 14px;
}

.color-line {
  width: $left-section-width - $my-padding;
  margin: 0 $my-padding 4px 0;
  border-top-width: 4px;
  border-top-color: $primary-color-med;
}

h1 {
  font-size: 1.75em;
  color: $primary-color-med;
}

.item-container {
  @include display-flex;
  margin-bottom: 50px;
}

.left {
  @include flex-basis($left-section-width);
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
}

.right {
  @include flex-grow(1);
}

.detail-header {
  @include display-flex;
  @include justify-content(space-between);
}

.exp {
  list-style-type: none;

  h2 {
    margin-top: 1.5em;
    margin-bottom: .25em;
    font-size: 1.25em;
  }
}

.company-logo {
  margin-bottom: .25em;
  display: block;
  height: 1.5em;
}

.exp-job {
  font-size: 1em;
}

.exp-loc {
  font-size: .8em;
  color: rgba(0, 0, 0, .54);
}

.edu-loc {
  @extend .exp-loc;
  padding-left: 29px;
}

// TODO: fix right justification
.exp-time {
  font-weight: lighter;
  background-color: #9e9e9e;
  color: white;
  padding: 4px;
  border-radius: 4px;
  font-size: .8em;
  font-family: 'Droid Sans Mono';
  width: 110px;
  text-align: center;
}

.details {
  list-style-type: square;
  padding-left: 1.5em;
  font-weight: lighter;

  li {
    margin-top: .5em;
  }
}

.highlight {
  background-color: $accent-color-dark;
}

// --- Screens < $content-width ---
@media (max-width: $content-width) {

#content {
  border-style: none;
}

#postit {
  display: none;
}

.section-header {
  @include align-items(stretch);
  margin: 60px 0 20px 0;
  @include flex-direction(column-reverse);
}

.color-line {
  width: auto;
  border-top: 1px solid #cccccc;
  margin: 4px 0 0 0;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

.item-container {
  @include flex-direction(column);
}

.left {
  @include flex-basis(auto);
  margin-bottom: 12px;
}

}